<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="css/style.css">
	    <title> Sección Administración</title>
	</head>
<body>
	<h1>Panel Administrativo</h1>
	<header> 
		<nav>
		     <ul>
				<li><a href="/admin/products">Productos</a></li>
				<li><a href="/admin/categories">Categorías</a></li>
				<li><a href="/admin/users">Usuarios</a></li>

		     </ul>
	</header>
	<footer>
	     <p>©Copyright. Todos los derechos revertidos.</p>
	   </footer>
</body>

</html>