<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="css/style.css">
	    <title> Formulario</title>
	</head>
	<body>
		<section id="reparaciones">
		        <h2>Reparaciones</h2>
		        <p>Información sobre reparaciones de productos.</p>
		        <form  action="mailto:yarielaviales@gmail.com? Subject=Reparacion"  method="post" enctype="text/plain">
		            <input type="text" name="nombre" placeholder="Nombre" required>
		            <input type="text" name="apellidos" placeholder="Apellidos" required>
		            <input type="tel" name="telefono" placeholder="Teléfono" required>
		            <input type="email" name="correo" placeholder="Correo Electrónico" required>
		            <textarea name="mensaje" placeholder="Descripción del problema" required></textarea>
		            <button type="submit">Enviar</button>
		        </form>
		    </section>
			
			<section id="ventas">
			        <h2>Ventas</h2>
			        <p>Información sobre ventas.</p>
			        <form action="mailto:yarielaviales@gmail.com? Subject=Ventas" method="post" enctype="text/plain">
			            <input type="text" name="nombre" placeholder="Nombre" required>
			            <input type="text" name="apellidos" placeholder="Apellidos" required>
			            <input type="tel" name="telefono" placeholder="Teléfono" required>
			            <input type="email" name="correo" placeholder="Correo Electrónico" required>
			            <textarea name="mensaje" placeholder="Descripción" required></textarea>
			            <button type="submit">Enviar</button>
			        </form>
			    </section>
				
				<section id="cotizaciones">
				        <h2>Cotizaciones</h2>
				        <p>Información sobre cotizaciones.</p>
				        <form action="mailto:yarielaviales@gmail.com? Subject=Cotización" method="post" enctype="text/plain">
				            <input type="text" name="nombre" placeholder="Nombre" required>
				            <input type="text" name="apellidos" placeholder="Apellidos" required>
				            <input type="tel" name="telefono" placeholder="Teléfono" required>
				            <input type="email" name="correo" placeholder="Correo Electrónico" required>
				            <textarea name="mensaje" placeholder="Descripción" required></textarea>
				            <button type="submit">Enviar</button>
				        </form>
				    </section>
	</body>
	</html>